<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
    <p><i>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Built by: Hassen Hassen | Designed by: Fartun Hassan</i></p>
</footer>
<!-- /* final commit */ -->