<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Trip</title>
</head>
<body>
    <h1>**EDIT PAGE**</h1>
    <h2>Edit Trip Details</h2>
    <form action="/trips/<%= trip._id%>?_method=PUT" method="POST">
            <div>
                <label for="place">Edit Location</label>
                <input type="text" name="trip[place]" id="place" value="<%= trip.place %>" required>
            </div>
            <div>
                <label for="description">Edit Description</label>
                <textarea name="trip[description]" id="description" cols="30" rows="4" required><%= trip.description %></textarea>
            </div>
            
            <button>Edit</button>
    </form>
</body>
</html>