<% layout('./layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="main">
        <h1 class="h1">NOMADS</h1>
        <h2 class="h2">A digital archive of the tales and travels of friends!</h2>
        <button class="regBtn"><a href="/signup">Register</a></button>
        <button class="seeBtn"><a href="/trips">See Trips</a></button>
        <button class="logBtn"><a href="/login">Log In</a></button>
    </div>
    <!-- /* final commit */ -->