<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
</head>
<body>
    <h1>**CREATE PAGE**</h1>
    <h2>Post a trip</h2>
    <form action="/trips" method="POST">
    <div>
        <label for="place">Where did you visit?</label>
        <input type="text" name="trip[place]" id="place" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea name="trip[description]" id="description" cols="30" rows="4" required></textarea>
    </div>
    
        <button>Save Trip</button>
    </form>
</body>
</html>