<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
</head>
<body>
    <h1>**CREATE PAGE**</h1>
    <h2>Post a trip</h2>
    <form action="/trips" method="POST">
    <div>
        <label for="title">Name Your Trip:</label>
        <input type="text" name="trip[title]" id="title">
    </div>
    <div>
        <label for="location">Location:</label>
        <input type="text" name="trip[location]" id="location">
    </div>
    <div>
        <label for="description">Bio:</label>
        <input type="text" name="trip[description]" id="description">
    </div>
    
        <button>Save Trip</button>
    </form>
</body>
</html>