<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>**DETAILS PAGE**</h1>
    <div>
        <h1><%= trip.place %></h1>
        <h3>USER</h3>
        <img src="https://images.unsplash.com/photo-1567693221917-fefc994808ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=877&q=80" alt="">
        <p><%= trip.description %> </p>
        <button><a href="/trips">Go Back</a></button><br>
        <button><a href="/trips/<%= trip._id %>/edit">Edit</a></button>
        <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </div>
</body>
</html>