@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, li, a, button {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #5B4735;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2%;
    background-color: #CE9E71;
}


ul {
    list-style: none;
}

nav h1 {
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
}

/* h1, ul {
    margin-right: auto
} */

ul li {
    display: inline-block;
    padding: 0 20px;
    
}

ul li a {
    transition: all 0.3s ease 0s;
}
ul li a:hover {
    color: blue;
    transition: all 0.3s ease 0s;
}

.btn {
    margin-left: auto;
}
.currentUser {
    color: #ca6200;
}

button {
    padding: 8px 25px;
    background-color: #CE9E71;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ce833d;
    color: white;
}
/* final commit */