<% layout('./layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <div class="main">
        <p>
            <%= error %>
        </p>
        <div class="pic">
            <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80"
                alt="...">
        </div>
        <div class="info">
            <form action="/signup" method="POST">
                <div class="mid">
                    <div class="username">
                        <label for="username">Username:</label>
                        <br>
                        <input type="text" name="username" id="username" required>
                    </div>
                    <div class="email">
                        <label for="email">Email:</label>
                        <br>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="pass">
                        <label for="password">Password:</label>
                        <br>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <button>Sign Up</button>
                    <button><a href="/login">Log In</a></button>
            </form>
        </div>

    </div>
    <!-- /* final commit */ -->