<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/signup.css">
<div class="main">
    <h1>Sign Up</h1>
    <p><%= error %></p>
    <div>
        <form action="/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <button>Sign Up</button>
        </form>
    </div>
    <button><a href="/login">Log In</a></button>
</div>
